@import "colors";

.vehicle-block {
  border: 1px solid #eee;
  margin: .9375em 0;
  padding: .9375em 15px;
  position: relative;
  -webkit-transition: ease .5s border, boxShadow .5s ease;
  -moz-transition: ease .5s border, boxShadow .5s ease;
  -ms-transition: ease .5s border, boxShadow .5s ease;
  -o-transition: ease .5s border, boxShadow .5s ease;
  transition: ease .5s border, boxShadow .5s ease;
  box-shadow: 0 0 0 transparent;
  font: 1.2em/14px proximaNovaSemibold, Arial, Helvetica, sans-serif;
  color: #939393;
  text-align: center;
  cursor: pointer;
  &:hover, &:active {
    box-shadow: 0 0 3px $amarillo;
    img {
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
      transform: scale(1.05);
    }
  }
  img {
    -webkit-transition: ease .5s border, boxShadow .5s ease;
    -moz-transition: ease .5s border, boxShadow .5s ease;
    -ms-transition: ease .5s border, boxShadow .5s ease;
    -o-transition: ease .5s border, boxShadow .5s ease;
    transition: ease .5s border, boxShadow .5s ease;
    -webkit-transform-origin: center bottom 0;
    -moz-transform-origin: center bottom 0;
    -ms-transform-origin: center bottom 0;
    -o-transform-origin: center bottom 0;
    transform-origin: center bottom 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform-origin: center center 0;
    -moz-transform-origin: center center 0;
    -ms-transform-origin: center center 0;
    -o-transform-origin: center center 0;
    transform-origin: center center 0;
    backface-visibility: hidden;
    margin-top: 45px;
    margin-bottom: 40px;
  }
  h2 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    &:hover, &:active {
      text-decoration: underline;
      cursor: pointer;
    }
    & + small {
      display: block;
      margin-bottom: 10px;
      font-size: 1em;
      margin-top: 16px;
      & > span {
        margin-left: 5px;
        color: $amarillo;
        text-decoration: line-through;
        & + span {

        }
      }
    }
  }
  h3 {
    margin-bottom: 10px;
    line-height: 1em;
    small {
      display: block;
      font-size: 0.5em;
      margin-bottom: 5px;
    }
    span {
      font-size: 1.2em;

    }
  }

  &:hover .button, &:active .button {
    text-decoration: none;
    border: 1px solid $amarillo;
  }

  .button {
    text-align: center;
    &.main-btn,
    &.main-btn:hover
    &.main-btn:active {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

.car-tabs {
  .nav-tabs {
    background: rgba(0, 0, 0, 0);
    border: none;
    > li {
      background: rgba(0, 0, 0, 0);
      border: none;
      a {
        background: rgba(0, 0, 0, 0);
        border: none;
        font-size: 1.2em;
        padding-top: 0;
        &:hover, &:active {
          color: $amarillo;
        }
      }
      &.active {
        > a {
          background: rgba(0, 0, 0, 0);
          border: none;
          color: $amarillo;
          &:hover, &:active, &:focus {
            background: rgba(0, 0, 0, 0);
            border: none;
          }
        }
        border-bottom: 5px solid $amarillo;
      }
      display: inline-block;
      float: none;
      border-bottom: 4px solid rgba(0, 0, 0, 0);
      border-top: 4px solid rgba(0, 0, 0, 0);
      -webkit-transition: border ease .5s, color ease .5s;
      -moz-transition: border ease .5s, color ease .5s;
      -o-transition: border ease .5s, color ease .5s;
      transition: border ease .5s, color ease .5s;
      font-size: 1.2em;
    }
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .car-tabs .nav-tabs > li {
    font-size: 1em;
    a {
      font-size: 1em;
      padding: 10px 8px;
    }
  }
}

@media screen and (max-width: 480px) {
  #content .container {
    width: 100% !important;
  }
}