@import "mixins";

$sliderHeight: 551px;

#slider{
  @include breakpoint(0px, 1100px){
    display: none !important;
  }

  &> div {
    min-height: $sliderHeight;
  }

  slick{
    .slick-next{
      right: 0;
      z-index: 1;
    }

    .slick-prev{
      left: 0;
      z-index: 1;
    }
    .slick-arrow {
      &.slick-next:before {
        font-family: 'fontAwesome';
        content: "\f054";
        position: relative;
        top: 8px;
        right: 5px;
        color: #fff;

      }
      &.slick-prev:before {
        font-family: 'fontAwesome';
        content: "\f053";
        position: relative;
        top: 8px;
        left: 5px;
        color: #fff;
      }
    }
    .item{
      background-size: cover;
      min-height: $sliderHeight;
      position: relative;
      img {
        visibility: hidden;
        opacity: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  .owl-carousel,
  .owl-stage-outer,
  .owl-stage,
  .owl-item,
  .owl-item .item{
    height: 100%;
  }
  .owl-item .item{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;;
  }
  .owl-dots {
    .owl-dot {
      &.active span, &:hover span {
        background-color: #f8b900 !important;
      }
    }
    span {
      width: 10px;
      height: 10px;
      margin: 0 3px;
      opacity: 1;
      background-color: #1abc9c;
      border: none;
    }
  }

  .slide-description{
    position: absolute;
    left: 0;
    right: 520px;
    top: 0;
    bottom: 0;
    h1{
      margin: 0;
    }
  }
}