@import "colors";
@import "mixins";

#footer-copyright {
  background-color: #232628;
}

body, p, .p {
  font-family: Arial;
}

p, li {
  font-size: 12px;
  line-height: 18px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .header-menu li a, .vc_tta-title-text, #footer .menu li {
  font-family: Louis, Arial;
  text-transform: uppercase;
  color: #414042;
}

@media (max-width: 991px) {
  .landing-form-overlay {
  }
}

@media (max-width: 479px) {
  .landing-form-overlay {
  }
}

.modal.modal-wide {
  .modal-dialog {
    width: 90%;
    text-align: center;
    background-color: transparent;
  }
  .modal-body {
    overflow-y: auto;
    padding: 0;
    display: inline-block;
  }
  .modal-content {
    display: inline;
    width: auto;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  .landing-form-overlay {
    position: static;
    display: inline-block;
    margin: 0;
  }

  .close {
    color: $amarillo;
    position: relative;
    left: -45px;
    font-size: 3em;
    top: 10px;
    text-shadow: none;
    opacity: 0.7;
    &:hover{
      opacity: 1;
    }
    @include breakpoint(md){
      left: -32px;
      font-size: 2em;
      top: 9px;
    }
    @include breakpoint(0, 493px){
      left: -9px;
      top: 36px;
    }
  }
}

.landing-form-overlay h2 {
  color: #fff;
}

.sticker-btn {
  padding: 31px 12px;
  font-size: 16px;
  background: #fff;
  position: relative;
  color: #444;
  opacity: 1;
  -webkit-transition: color ease .3s, opacity ease .3s;
  -moz-transition: color ease .3s, opacity ease .3s;
  -ms-transition: color ease .3s, opacity ease .3s;
  -o-transition: color ease .3s, opacity ease .3s;
  transition: color ease .3s, opacity ease .3s;
  &:hover {
    color: #f8b900;
    opacity: 0.7;
  }
  &:after {
    content: ' ';
    width: 0;
    height: 0;
    border: 0 solid rgba(0, 0, 0, 0);
    border-left-width: 0px;
    border-right-width: 40px;
    border-top: 80px solid #fff;
    position: absolute;
    right: -40px;
    top: 0;
  }
  &:before {
    content: ' ';
    width: 0;
    height: 0;
    border: 0 solid rgba(0, 0, 0, 0);
    border-right-width: 0px;
    border-left-width: 40px;
    border-bottom: 80px solid #fff;
    position: absolute;
    left: -40px;
    top: 0;
  }
  &:after, &:before {
    /*-webkit-transition: color ease .3s, background ease .3s;*/
    /*-moz-transition: color ease .3s, background ease .3s;*/
    /*-ms-transition: color ease .3s, background ease .3s;*/
    /*-o-transition: color ease .3s, background ease .3s;*/
    /*transition: color ease .3s, background ease .3s;*/
  }
  &:hover {
    &:after, &:before {
      /*border-top-color:  rgba(255, 255, 255, 0.71);*/
      /*border-bottom-color: rgba(255, 255, 255, 0.71);*/
    }
  }
}

.cta-container {
  position: absolute;
  bottom: 80px;
  /*left: 160px*/
  right: 480px;
}

.main-btn {
  cursor: pointer;
  background-color: #f0ad00;
  background-image: linear-gradient(bottom, #f0ad00 57%, #f8cb43 78%);
  background-image: -o-linear-gradient(bottom, #f0ad00 57%, #f8cb43 78%);
  background-image: -moz-linear-gradient(bottom, #f0ad00 57%, #f8cb43 78%);
  background-image: -webkit-linear-gradient(bottom, #f0ad00 57%, #f8cb43 78%);
  background-image: -ms-linear-gradient(bottom, #f0ad00 57%, #f8cb43 78%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.57, #f0ad00), color-stop(0.78, #f8cb43));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F8CB43, endColorstr=#F0AD00, GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F8CB43, endColorstr=#F0AD00)";
  border: 1px solid #f0ad00;
  border-top: 1px solid #f8cb43;
  color: #fff;
  text-decoration: none;
  &:hover {
    background-color: #f0ad00;
    background-image: linear-gradient(bottom, #f8cb43 36%, #f0ad00 57%);
    background-image: -o-linear-gradient(bottom, #f8cb43 36%, #f0ad00 57%);
    background-image: -moz-linear-gradient(bottom, #f8cb43 36%, #f0ad00 57%);
    background-image: -webkit-linear-gradient(bottom, #f8cb43 36%, #f0ad00 57%);
    background-image: -ms-linear-gradient(bottom, #f8cb43 36%, #f0ad00 57%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.36, #f8cb43), color-stop(0.57, #f0ad00));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F0AD00, endColorstr=#F8CB43, GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F0AD00, endColorstr=#F8CB43)";
    -webkit-box-shadow: inset 0 0 5px rgba(35, 31, 32, 0.3);
    -moz-box-shadow: inset 0 0 5px rgba(35, 31, 32, 0.3);
    box-shadow: inset 0 0 5px rgba(35, 31, 32, 0.3);
    border: 1px solid #c38b00;
    border-bottom: 1px solid #cdab4a;
    color: #fff;
    text-decoration: none;
  }
  &.block-main-btn{
    line-height: 1;
    margin-right: 12px;
  }
}

#content {
  .content-wrap {
    padding-top: 0;
  }
}

form{
  .form-group{
    margin-bottom: 0;
  }
  .has-error + .help-block{
    color: #b94a48;
    text-align: left;
  }
}