@import "colors";
@import "mixins";

.cta-ribbon {
  text-align: left;
  padding: 52px 20px 41px;
  h1 {
    color: $amarillo;
    text-align: center;
    margin: 0;
    font-style: italic;
    &:first-child {
      text-align: left;
      //display: inline;
    }
    &:last-child {
      text-align: right;
    }
    //margin-left: -120px;
    //span {
    //  color: inherit;
    //  @include breakpoint(md) {
    //    display: block;
    //    margin-left: 240px;
    //  }
    //}
  }
}