@font-face {
  font-family: 'Durant';
  src: url('../fonts/DurantRegular.eot');
  src: url('../fonts/DurantRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/DurantRegular.woff') format('woff'), url('../fonts/DurantRegular.ttf') format('truetype'), url('./fonts/DurantRegular.svg#DurantRegular') format('svg');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'Durant';
  src: url('../fonts/DurantItalic.eot');
  src: url('../fonts/DurantItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/DurantItalic.woff') format('woff'), url('../fonts/DurantItalic.ttf') format('truetype'), url('./fonts/DurantItalic.svg#DurantItalic') format('svg');
  font-weight: normal;
  font-style: italic
}

@font-face {
  font-family: 'Durant';
  src: url('../fonts/DurantBold.eot');
  src: url('../fonts/DurantBold.eot?#iefix') format('embedded-opentype'), url('../fonts/DurantBold.woff') format('woff'), url('../fonts/DurantBold.ttf') format('truetype'), url('./fonts/DurantBold.svg#DurantBold') format('svg');
  font-weight: bold;
  font-style: normal
}

@font-face {
  font-family: 'Durant';
  src: url('../fonts/DurantBoldItalic.eot');
  src: url('../fonts/DurantBoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/DurantBoldItalic.woff') format('woff'), url('../fonts/DurantBoldItalic.ttf') format('truetype'), url('./fonts/DurantBoldItalic.svg#DurantBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic
}

@font-face {
  font-family: 'Louis';
  src: url('../fonts/LouisRegular.eot');
  src: url('../fonts/LouisRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/LouisRegular.woff') format('woff'), url('../fonts/LouisRegular.ttf') format('truetype'), url('./fonts/LouisRegular.svg#LouisRegular') format('svg');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'Louis';
  src: url('../fonts/LouisBold.eot');
  src: url('../fonts/LouisBold.eot?#iefix') format('embedded-opentype'), url('../fonts/LouisBold.woff') format('woff'), url('../fonts/LouisBold.ttf') format('truetype'), url('../fonts/LouisBold.svg#LouisBold') format('svg');
  font-weight: bold;
  font-style: normal
}

@font-face {
  font-family: 'Louis';
  src: url('../fonts/LouisBoldItalic.eot');
  src: url('../fonts/LouisBoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/LouisBoldItalic.woff') format('woff'), url('../fonts/LouisBoldItalic.ttf') format('truetype'), url('../fonts/LouisBoldItalic.svg#LouisBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic
}

@font-face {
  font-family: 'Louis';
  src: url('../fonts/LouisItalic.eot');
  src: url('../fonts/LouisItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/LouisItalic.woff') format('woff'), url('../fonts/LouisItalic.ttf') format('truetype'), url('./fonts/LouisItalic.svg#LouisItalic') format('svg');
  font-weight: normal;
  font-style: italic
}

@font-face {
  font-family: 'LouisCondensed';
  src: url('../fonts/LouisCondensedDemi.eot');
  src: url('../fonts/LouisCondensedDemi.eot?#iefix') format('embedded-opentype'), url('../fonts/LouisCondensedDemi.woff') format('woff'), url('../fonts/LouisCondensedDemi.ttf') format('truetype'), url('./fonts/LouisCondensedDemi.svg#LouisCondensedDemi') format('svg');
  font-weight: bold;
  font-style: normal
}

p, li {
  font-size: 12px;
  line-height: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Louis, 'Louis Bold', Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #414042;
  small {
    color: inherit;
  }
}

p, small, div, a, input {
  font-family: Louis, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #414042;
}

::-webkit-input-placeholder,
:-ms-input-placeholder,
:-moz-placeholder,
::-moz-placeholder{
  font-family: Louis, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

