#footer-main {
  background-color: #414042;
  .widget {
    margin-top: 0;
  }
  .widget-wrapper {
    padding-bottom: 30px;
  }

  li {
    font-size: 12px;
    line-height: 18px;
  }
}

.footer_widgets_wrapper {
  padding: 66px 0 20px;
  color: #aaa;
  .widget_search .widget-title {
    margin-bottom: 21px;
  }
  a {
    text-decoration: none !important;
    &:hover {
      color: #fff;
    }
  }
  .widget-title {
    margin-bottom: 15px;
    h6 {
      font-size: 14px;
      color: #fff;
      text-transform: uppercase;
      .colored {
        color: #6c98e1;
      }
    }
  }
  .stm_wp_widget_text .textwidget {
    font-size: 13px;
    line-height: 20px;
    color: #aaa;
  }
  .widget_text .textwidget {
    font-size: 13px;
    line-height: 20px;
    color: #fff;
    .date {
      color: #aaaaaa;
      font-weight: 700;
    }
  }
  .widget_mc4wp_form_widget {
    .widget-title {
      margin-bottom: 16px;
    }
    .stm-mc-label {
      color: #888;
    }
    .stm-mc-unit {
      position: relative;
      margin-bottom: 8px;
      input[type="submit"] {
        position: absolute;
        top: 0;
        right: 0;
        height: 38px;
        width: 40px;
        z-index: 10;
        opacity: 0;
      }
      &:after {
        position: absolute;
        content: '';
        display: block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);
        content: "\f09e";
        top: 0;
        right: 0;
        height: 38px;
        width: 40px;
        background-color: #cc6119;
        text-align: center;
        line-height: 38px;
        color: #fff;
        font-size: 17px;
        text-indent: 2px;
        z-index: 9;
      }
    }
    input {
      &[type="text"], &[type="email"], &[type="number"] {
        position: relative;
        height: 38px;
        line-height: 38px;
        padding: 0 50px 0 17px;
        color: #aaa;
      }
    }
  }
  .widget-title h6 .colored {
    color: #F4BC00;
  }
}

#footer .menu {
  padding: 0px;
  border-top: solid 1px #fff;
  li {
    list-style: none;
    padding: 5px 5px 5px 0;
    margin: 5px;
    border-bottom: solid 1px #aaa;
    a {
      padding: 0;
      &:link, &:visited {
        color: #fff;
      }
    }
  }
}

.footer_widgets_wrapper a {
  text-decoration: none !important;
}

#footer-copyright {
  padding: 20px 0 19px;
  .footer-copyright {
    position: relative;
    &:before {
      position: absolute;
      content: '';
      display: block;
      top: -20px;
      left: 15px;
      right: 15px;
      height: 1px;
      background-color: #444;
    }
  }
  .copyright-text {
    font-size: 13px;
    color: #888;
    a {
      color: #6c98e1;
    }
    .divider {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: -1px;
      background-color: #888;
      margin: 0 10px;
      height: 13px;
      width: 1px;
    }
  }
}

.copyright-socials ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 7px;
  &:after {
    display: table;
    content: "";
    clear: both;
  }
  li {
    float: left;
    margin-left: 37px;
    &:first-child {
      margin-left: 0;
    }
    a {
      color: #6c98e1;
    }
  }
}

#footer {
  width: 100%;
  background: #676766;
  margin: 20px auto 0;
  padding: 50px 0 20px;
  a {
    color: #fff;
  }
}

#sucursales {
  max-width: 1200px;
  padding: 0 2.3%;
  margin: 0 auto;
  h4 {
    font: bold italic 27px/27px 'Louis';
    color: #fff;
    text-transform: uppercase;
    text-align: left;
  }
  ul {
    margin: 25px auto;
  }
  li {
    float: left;
    width: 15.6%;
    margin: 0 .5%;
    font: bold 14px/15px 'Louis';
    text-transform: uppercase;
    color: #fff;
    list-style: none;
    img {
      display: block;
      width: 100%;
      height: auto;
      border: 2px solid #babbbc;
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      overflow: hidden;
    }
    .e {
      position: relative;
      float: right;
      display: block;
      background: url(../images/sucursales/parking.png) no-repeat center center;
      width: 35px;
      height: 35px;
      right: -5px;
      top: -20px;
      text-indent: -9999999em;
      margin: 0 0 -25px;
      z-index: 2;
    }
    .domlegal {
      position: relative;
      display: block;
      text-align: center;
      width: 75px;
      height: 15px;
      padding: 2.5px 0;
      background: #676766;
      font-size: 8px;
      line-height: 10px;
      margin: 0 auto -15px;
      white-space: nowrap;
      font-family: Arial, sans-serif;
      font-style: normal;
    }
    .dir {
      border-top: 4px solid #fff;
      border-bottom: 4px solid #fff;
      color: #fff;
      margin: 5px 0;
      padding: 10px 0;
      white-space: nowrap;
      letter-spacing: -.5px;
    }
    .tel {
      font-size: 33px;
      line-height: 33px;
      white-space: nowrap;
      letter-spacing: -2px;
      color: #fff;
    }
  }
}

@media only screen and (max-width: 800px) {
  #sucursales li {
    width: 32.3%;
    margin-bottom: 25px;
  }
  #sucursales ul {
    margin-left: 0;
    padding-left: 0;
  }
}

@media only screen and (max-width: 480px) {
  #sucursales li {
    width: 48%;
    margin: 0 1% 25px;
  }

}

.copyright{
  color: #fff;
  font-size: 1em;
}