@import "mixins";
@import "colors";

#header {
  height: 60px;
  > div {
    background: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    .container {
      width: 100% !important;
    }
  }
  .container {
    @include breakpoint(md) {
      width: 100%;
      max-width: 1000px;
    }
  }
}

.navbar-toggle {
  border-color: $celesteSanJorge;
  margin-left: 8px;
  margin-right: 8px;
  //background-color: $celesteSanJorge;
  .icon-bar {
    background-color: $celesteSanJorge;
  }
  display: block;

  @include breakpoint(md) {
    display: none !important;
  }
}

#mobile-navbar {
  @include breakpoint(md) {
    display: none !important;
    &.navbar-collapse.collapse {
      display: none !important;
    }
  }
  .nav > li > a {
    font: bold 14px Arial;
  }
  .nav > li > a:hover, .nav > li > a:focus,
  .nav > li > a.active {
    text-decoration: none;
    background-color: transparent;
    color: $amarillo;
  }
}

.content-wrap {
  padding: 40px 0 40px;
}

.logo {
  margin-top: 8px;
  display: inline-block;
}

#brand-logo {
  @include breakpoint(0px, 350px) {
    img {
      max-width: 70px;
      height: auto;
    }
  }
}

@media screen and (max-width: 350px) {
  #sanjorge-logo {
    img {
      max-height: 32px;
    }
  }
}

#sanjorge-logo img {
  max-height: 45px;
}

#primary-menu {
  margin-top: 8px;
  margin-left: 30px;
  ul {
    li {
      > a.active {
        color: $amarillo;
      }
      position: relative;
      &.mega-menu {
        position: inherit;
      }
      > a {
        display: block;
        line-height: 20px;
        padding: 12px 10px 0;
        color: #444;
        letter-spacing: 1px;
        text-transform: uppercase;
        font: bold 14px Arial;
        -webkit-transition: margin .4s ease, padding .4s ease;
        -o-transition: margin .4s ease, padding .4s ease;
        transition: margin 0.4s ease, padding 0.4s ease;
        text-decoration: none;
        span {
          display: none;
        }
        i {
          position: relative;
          top: -1px;
          font-size: 14px;
          width: 16px;
          text-align: center;
          margin-right: 6px;
          vertical-align: top;
          &.icon-angle-down:last-child {
            font-size: 12px;
            margin: 0 0 0 5px;
          }
        }
      }
      &.current > a, &:hover > a {
        color: $amarillo !important;
      }
    }
    list-style: none;
    margin: 0;
    > li {
      float: left;
      margin-left: 2px;
    }
  }
  > ul {
    float: left;
    > li {
      &:first-child {
        margin-left: 0;
      }
      margin-left: 11px;
      margin-right: 8px;
      padding-right: 24px;
      background: url(../images/separador.gif) no-repeat right bottom;
      &:last-child {
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
        background: 0;
      }
    }
  }
}

.nav-justified {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  > {
    li > a {
      padding-top: 15px;
      padding-bottom: 15px;
      margin-bottom: 0;
      font-weight: bold;
      color: #777;
      text-align: center;
      background-color: #e5e5e5;
      /* Old browsers */
      background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
      /* FF3.6+ */
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #e5e5e5));
      /* Chrome,Safari4+ */
      background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
      /* Chrome 10+,Safari 5.1+ */
      background-image: -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
      /* Opera 11.10+ */
      background-image: linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#e5e5e5', GradientType=0);
      /* IE6-9 */
      background-repeat: repeat-x;
      /* Repeat the gradient */
      border-bottom: 1px solid #d5d5d5;
    }
    .active > a {
      background-color: #ddd;
      background-image: none;
      box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15);
      &:hover, &:focus {
        background-color: #ddd;
        background-image: none;
        box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15);
      }
    }
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.nav-justified > li {
  &:first-child > a {
    border-radius: 5px 5px 0 0;
  }
  &:last-child > a {
    border-bottom: 0;
    border-radius: 0 0 5px 5px;
  }
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
    > li {
      > a {
        border-right: 1px solid #d5d5d5;
        border-left: 1px solid #fff;
      }
      &:first-child > a {
        border-left: 0;
        border-radius: 5px 0 0 5px;
      }
      &:last-child > a {
        border-right: 0;
        border-radius: 0 5px 5px 0;
      }
    }
  }
}