<!-- Footer=============================================-->
<div id="footer">
    <div id="sucursales">

        <h4>Envianos tu consulta o te esperamos en nuestras sucursales. Acercate a tu 0km.</h4>

        <ul>
            <li>
                <img src="/public/images/sucursales/corrientes.jpg" alt="Sucursal San Jorge Av. Corrientes 1740 - Microcentro">
                <span class="e">Estacionamiento propio</span>
                <div class="dir">Av. Corrientes 1740<br> Microcentro</div>
                <div class="tel">4371-5955</div>
            </li>
            <li>
                <img src="/public/images/sucursales/villaluro.jpg" alt="Sucursal San Jorge Av. Rivadavia 9499 - Villa Luro">
                <span class="e">Estacionamiento propio</span>
                <div class="dir">Av. Rivadavia 9499<br> Villa Luro</div>
                <div class="tel">4635-9696</div>
            </li>
            <li>
                <img src="/public/images/sucursales/avlaplata.jpg" alt="Sucursal San Jorge Av. La Plata 1635 - Caballito">
                <span class="e">Estacionamiento propio</span>
                <span class="domlegal">Domicilio legal</span>
                <div class="dir">Av. La Plata 1635<br> Caballito</div>
                <div class="tel">4924-4444</div>
            </li>
            <li>
                <img src="/public/images/sucursales/almagro.jpg" alt="Sucursal San Jorge Av. Independencia 3050 - Almagro">
                <span class="e">Estacionamiento propio</span>
                <div class="dir">Av. Independencia 3050<br> Almagro</div>
                <div class="tel">4932-2004</div>
            </li>
            <li>
                <img src="/public/images/sucursales/adrogue.jpg" alt="Sucursal San Jorge Av. H. Yrigoyen 12723 - Adrogué">
                <span class="e">Estacionamiento propio</span>
                <div class="dir">Av. H. Yrigoyen 12723<br> Adrogué</div>
                <div class="tel">4293-7410</div>
            </li>
            <li>
                <img src="/public/images/sucursales/foot-centro.jpg" alt="Sucursal San Jorge Av. Bdo. de Irigoyen 960 - Centro">
                <span class="e">Estacionamiento propio</span>
                <div class="dir">Av. Bdo. de Irigoyen 960<br> Centro</div>
                <div class="tel">4362-3200</div>
            </li>
        </ul>

        <div class="clearfix"></div>
        <br>
        <p class="copyright">&copy; 2017 Automoviles San Jorge S.A. Concesionario oficial GM <a href="https://facebook.com" class="pull-right fa fa-facebook"></a></p>
    </div>
</div>