<!-- Header=============================================-->
<header id="header" class="page-section">
    <div id="header-wrap">
        <div class="container">
            <div id="brand-logo" class="logo pull-left">
                <a href="#">
                    <img src="/public/images/chevrolet.png" alt="Chevrolet" width="92" height="40">
                </a>
            </div>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mobile-navbar"
                    aria-expanded="true" aria-controls="mobile-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div id="sanjorge-logo" class="logo pull-right">
                <a target="_blank" href="http://www.chevroletsanjorge.com.ar/" class="">
                    <img alt="Chevrolet San Jorge" class="img-responsive" src="/public/images/logosanjorgehd.png"></a>
            </div>
            <nav id="primary-menu" class="hidden-xs hidden-sm">
                <ul class="one-page-menu">
                    <li class="current">
                        <a href="/" class="{{#compare currentPage '==' 'oportunidades' }}active{{/compare}}">Oportunidades</a>
                    </li>
                    <li>
                        <a href="/planes" class="{{#compare currentPage '==' 'planes' }}active{{/compare}}">Planes</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="container">
            <div id="mobile-navbar" class="collapse" aria-expanded="false">
                <ul class="nav navbar-nav">
                    <li class="current">
                        <a href="/" class="{{#compare currentPage '==' 'oportunidades' }}active{{/compare}}">Oportunidades</a>
                    </li>
                    <li>
                        <a href="/planes" class="{{#compare currentPage '==' 'planes' }}active{{/compare}}">Planes</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>