<form ng-controller="FormController as $ctrl"
      name="contactForm"
      method="post"
      role="form"
      ng-submit="$ctrl.submitContactForm(false, $event)"
      class="landing-wide-form landing-form-overlay">
      <div class="backdrop-overlay" ng-show="$ctrl.showSuccessMessage || $ctrl.showErrorMessage">
            <p class="alert alert-success" ng-show="$ctrl.showSuccessMessage">
                Muchas gracias, un asesor se comunicará con usted.
            </p>

            <p class="alert alert-danger" ng-show="$ctrl.showErrorMessage">
                Por favor intentelo más tarde.
            </p>
      </div>
    <div>
        <h2>Solicita un asesor</h2>
    </div>
    <div class="line" style="margin: 2px 0 20px;"></div>
    <div class="col_full">
        <div class="form-group row"
             ng-class="{'has-error': (!$ctrl.formData.name || !$ctrl.formData.lastName) && contactForm.$submitted}">
            <div class="col-xs-6">
                <input type="text" id="template-contactform-name" name="name"
                       class="form-control input-lg not-dark required"
                       placeholder="Nombre*" ng-model="$ctrl.formData.name" required>
            </div>
            <div class="col-xs-6">
                <input type="text" id="template-contactform-name"
                       name="lastName"
                       class="form-control input-lg not-dark required"
                       placeholder="Apellido*"
                       ng-model="$ctrl.formData.lastName" required>
            </div>
        </div>
        <span class="help-block" ng-show="(!$ctrl.formData.name || !$ctrl.formData.lastName) && contactForm.$submitted">Nombre y apellidos son obligatorios.</span>
    </div>
    <div class="col_full">
        <div class="form-group"
             ng-class="{'has-error': !$ctrl.formData.phone && contactForm.$submitted}">
            <input type="text" id="phone"
                   name="phone"
                   class="form-control input-lg not-dark"
                   placeholder="Tel&eacute;fono"
                   ng-model="$ctrl.formData.phone" required>
        </div>
        <span class="help-block" ng-show="!$ctrl.formData.phone && contactForm.$submitted">Tel&eacute;fono es obligatorio.</span>
    </div>
    <div class="col_full">
        <div class="form-group"
             ng-class="{'has-error': !$ctrl.formData.email && contactForm.$submitted}">
            <input type="email" id="email"
                   name="email"
                   class="form-control input-lg not-dark email"
                   placeholder="Email*"
                   ng-model="$ctrl.formData.email" required>
        </div>
        <span class="help-block" ng-show="!$ctrl.formData.email && contactForm.$submitted">Email es obligatorio.</span>
    </div>
    <div class="col_full">
        <select class="form-control input-lg not-dark"
                ng-options="sucursal as sucursal.name for sucursal in $ctrl.formDefinition.sucursales"
                ng-model="$ctrl.formData.branch"></select>
    </div>
    <div class="col_full">
        <select class="form-control input-lg not-dark"
                ng-options="vehicle as vehicle.name for vehicle in $ctrl.formDefinition.vehicles"
                ng-model="$ctrl.formData.vehicle"></select>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button class="main-btn block-main-btn btn-block text-center button button-large button-dark button-rounded">
                Contactanos
            </button>
        </div>
    </div>
</form>
<style>
    .backdrop-overlay{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
        text-align: center;
    }

    .backdrop-overlay p{
        display: inline-block;
        margin-top: 250px;
    }
</style>