<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>San Jorge</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/scss/style.css" type="text/css">
    <link rel="stylesheet" href="/public/css/dark.css" type="text/css">
    <link rel="stylesheet" href="/public/css/animate.css" type="text/css">
    <link rel="stylesheet" href="/public/css/responsive.css" type="text/css">
    <link href="/public/lib/owl/owl.carousel.min.css" rel="stylesheet">
    <link href="/public/lib/owl/owl.theme.default.min.css" rel="stylesheet">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                                                      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PHBS4XS');</script>
    <!-- End Google Tag Manager -->
    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
    <script type="text/javascript" src="/public/lib/fastclick.js"></script>
    <script type="text/javascript" src="/public/lib/jquery.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script type="text/javascript" src="/public/lib/slick.min.js"></script>
    <script type="text/javascript" src="/public/lib/angular-slick.min.js"></script>
    <!--<script src="//code.angularjs.org/1.6.5/angular-route.min.js"></script>-->
    <script src="//unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/public/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="/public/scripts/app.js"></script>
    <script src="/public/scripts/services.js"></script>
    <script src="/public/scripts/controller.js"></script>
    <script type="text/javascript">
        angular.element(document.getElementsByTagName('head')).append(angular.element('<base href="' + window.location.pathname + '" />'));
    </script>
</head>
<body class="stretched" ng-app="lpApp">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PHBS4XS"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div ng-init="$root.currentPage = '{{currentPage}}';$root.vehicleUrlName = '{{vehicle_url_name}}'">
    <div id="wrapper" class="clearfix">
        {{> header}}
        {{{body}}}
        {{> footer}}
    </div>
</div>
<script type="text/ng-template" id="vehicle-detail-modal.html">
    <div class="modal-body" id="modal-body">
        <span class="close" ng-click="$ctrl.cancel()">&times;</span>
        <form ng-controller="FormController as $ctrl"
              name="contactModalForm"
              method="post"
              role="form"
              novalidate
              ng-submit="$ctrl.submitContactForm(true, $event)"
              class="landing-wide-form landing-form-overlay">
            <div>
                <h2>Solicita un asesor</h2>
            </div>
            <div class="line" style="margin: 2px 0 20px;"></div>
            <div class="col_full">
                <div class="form-group row"
                     ng-class="{'has-error': (!$ctrl.formData.name || !$ctrl.formData.lastName) && contactModalForm.$submitted}">
                    <div class="col-xs-6">
                        <input type="text" id="template-contactform-name"
                               name="name"
                               class="form-control input-lg not-dark required"
                               placeholder="Nombre*"
                               ng-model="$ctrl.formData.name" required>
                    </div>
                    <div class="col-xs-6">
                        <input type="text" id="template-contactform-name"
                               name="lastName"
                               class="form-control input-lg not-dark required"
                               placeholder="Apellido*"
                               ng-model="$ctrl.formData.lastName" required>
                    </div>
                </div>
                <span class="help-block"
                      ng-show="(!$ctrl.formData.name || !$ctrl.formData.lastName) && contactModalForm.$submitted">Nombre y apellidos son obligatorios.</span>
            </div>
            <div class="col_full">
                <div class="form-group"
                     ng-class="{'has-error': !$ctrl.formData.phone && contactModalForm.$submitted}">
                    <input type="text" id="template-contactform-phone"
                           name="phone"
                           class="form-control input-lg not-dark"
                           placeholder="Tel&eacute;fono"
                           ng-model="$ctrl.formData.phone" required>
                </div>
                <span class="help-block" ng-show="!$ctrl.formData.phone && contactModalForm.$submitted">Tel&eacute;fono es obligatorio.</span>
            </div>
            <div class="col_full">
                <div class="form-group"
                     ng-class="{'has-error': !$ctrl.formData.email && contactModalForm.$submitted}">
                    <input type="email" id="template-contactform-email"
                           name="email"
                           class="form-control input-lg not-dark email"
                           placeholder="Email*"
                           ng-model="$ctrl.formData.email">
                </div>
                <span class="help-block"
                      ng-show="!$ctrl.formData.email && contactModalForm.$submitted">Email es obligatorio.</span>
            </div>
            <div class="col_full">
                <select class="form-control input-lg not-dark"
                        ng-options="sucursal as sucursal.name for sucursal in $ctrl.formDefinition.sucursales track by $index"
                        ng-model="$ctrl.formData.branch"></select>
            </div>
            <div class="col_full">
                <select class="form-control input-lg not-dark"
                        ng-options="vehicle as vehicle.name for vehicle in $ctrl.formModalDefinition.vehicles"
                        ng-model="$ctrl.formData.gridVehicle">
                </select>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="main-btn block-main-btn btn-block text-center button button-large button-dark button-rounded">
                        Contactanos
                    </button>
                </div>
            </div>
        </form>
    </div>
</script>
<!-- External JavaScripts=============================================-->

<!--<script type="text/javascript" src="/public/lib/owl.carousel.min.js"></script>-->
<script type="text/javascript" src="/public/lib/plugins.js"></script>
<!-- Footer Scripts=============================================-->
<script type="text/javascript" src="/public/lib/functions.js"></script>
<script src="https://use.fontawesome.com/db2082d31a.js"></script>

<script>
    jQuery(document).ready(function () {
        $(".modal-wide").on("show.bs.modal", function () {
            var height = $(window).height() - 200;
            $(this).find(".modal-body").css("max-height", height);
        });

        FastClick.attach(document.body);
    });
    document.addEventListener("touchstart", function(){}, true);
</script>
</body>

</html>