<section id="slider" class="hidden-xs">
    {{{{raw-helper}}}}
    <div class="container-fluid">

        <div id="slider" ng-controller="sliderController as $ctrl">
            <slick settings="$ctrl.slickConfig">
                <div ng-repeat="slide in $ctrl.sliderCollection">
                    <div class="item" ng-style="{'background-image': 'url(/public/' + slide.imageslider + ')'}">
                        <div class="slide-description" ng-if="slide.htmlslider" ng-include="slide.htmlslider"></div>
                        <img class="img-responsive" ng-src="/public/{{slide.imageslider}}" alt="">
                    </div>
                </div>
            </slick>
        </div>
    {{{{/raw-helper}}}}
        <div class="contact-widget" ng-controller="FormController as $ctrl">
            {{> top-form}}
        </div>
    </div>
</section>

<!-- Content=============================================-->
<section class="cta-ribbon">
    <div class="container">
        {{> banner }}
    </div>
</section>
{{{{raw-helper}}}}
<section id="content" ng-controller="OportunidadesCtrl">
    <div class="content-wrap">
        <div class="container">
            <uib-tabset active="activeTab" class="car-tabs">
                <uib-tab ng-repeat="(type, carArray) in carsCollection" index="$index" heading="{{type}}">
                    <div class="vehicle-collection-pane">
                        <div class="">
                            <div class="col-md-4 col-sm-6"
                                 ng-repeat="vehicle in carArray | orderBy:'order' track by $index" ng-if="::!vehicle.hide">
                                <div class="vehicle-block" ng-click="openVehicleModal(vehicle)">
                                    <div class="entry-image text-left">
                                        <div class="vehicle-info">
                                            <h2>{{vehicle.name}}</h2>
                                            <small ng-if="vehicle.reduced_price">
                                                Precio base <span><span>$</span>{{vehicle.price}}</span>
                                            </small>
                                            <h3>
                                                <small>Desde</small>
                                                <span ng-if="vehicle.reduced_price">${{vehicle.reduced_price}}</span>
                                                <span ng-if="!vehicle.reduced_price">${{vehicle.price}}</span>
                                            </h3>
                                        </div>
                                        <img class="img-responsive" ng-src="/public/{{vehicle.imagemin}}"
                                             alt="{{vehicle.name}}"/>

                                        <a href="#" class="button main-btn">CONSULTAR</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>

</section>

{{{{/raw-helper}}}}