<div class="container">
    <uib-tabset active="activeTab" class="car-tabs">
        <uib-tab ng-repeat="(type, carArray) in carsCollection" index="$index" heading="{{type}}">
            <div class="vehicle-collection-pane">
                <div class="">
                    <div class="col-md-4 col-sm-6" ng-repeat="vehicle in carArray">
                        <div class="vehicle-block" ng-click="openVehicleModal(vehicle)">
                            <div class="entry-image text-left">
                                <div class="vehicle-info">
                                    <h2>{{vehicle.name}}</h2>
                                    <small>
                                        Precio base <span><span>$</span>{{vehicle.price}}</span>
                                    </small>
                                    <h3>
                                        <small>Desde</small>
                                        <span>${{vehicle.reduced_price}}</span>
                                    </h3>
                                </div>
                                <img class="img-responsive" ng-src="/public/{{vehicle.imagemin}}" alt="{{vehicle.name}}" />

                                <a href="#" class="button">CONSULTAR</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>